fastapi>=0.115.0
uvicorn[standard]>=0.30.0
onnxruntime-gpu==1.18.0
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==8.9.6.50
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
pillow>=10.0.0
numpy>=1.26.0,<2.0.0
python-multipart>=0.0.9
requests>=2.31.0
python-dotenv>=1.0.0
